.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.task-button {
  background-color: #8E7CC3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-button:hover {
  background-color: #725b9b;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  /* margin-bottom: 16px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-button {
  background-color: #8E7CC3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #725b9b;
}

@media only screen and (max-width: 600px) {
  /* Adjust styles for smaller screens if necessary */
  .filter-button {
      font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  /* Adjust styles for smaller screens if necessary */
  .filter {
      flex-direction: column;
  }
}